/*-- scss:defaults --*/
$primary: #70d287;
$secondary: #5a6268;



$mermaid-node-component: #decbe4;
$mermaid-node-anndata: #d9d9d9;


/* Fix mermaid background rendering */
/* See https://github.com/openproblems-bio/website/issues/239 */

/* edges */
$mermaid-edge-color: #333333;
/* labels */
$mermaid-label-fg-color: #333;
/* groups */
$mermaid-fg-color--lightest: #eee;
$mermaid-fg-color--lighter: #ccc;
/* nodes */
$mermaid-node-bg-color: #d7f6de;
$mermaid-node-fg-color: #70d287;

.component circle, .component ellipse, .component path, .component polygon, .component rect {
  fill: #decbe4 !important;
}