/* css styles */

h1, h2 {
  margin-top: 0;
  border-bottom: 0;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.2rem;  
}

header > .quarto-title h1 {
  font-size: 2.5rem;
  font-weight: 800;

}

#navbarCollapse {
  background-color: #ffffff;
}

#quarto-header nav.navbar {
  height: 4rem;
  padding: 0; 
  background-color: #ffffff;
  border-color: #ffffff;
}

a.navbar-brand-logo > img {
  max-height: 2.5rem;
  margin: 2rem;
}

.mermaid svg {
  display: block;
  margin: auto;
}
.cluster-label {
  padding-bottom: 60px;

}

#fig-architecture path[class*="LS-titlebox"] {
  display: none;

}

#fig-architecture .nodes > g[id*="titlebox"] > rect.label-container {
  fill: none;
  stroke: none;
}

.home .title {
  text-align: center;
}